@mixin card() {
    position: relative;
     display: flex;
     flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff ;
    background-clip: border-box;
    border: none;   
    border-radius: .428rem;
     padding:5rem;
        transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
  
        // margin-bottom: 2rem;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #fff;
}


.card-element{
  @include card;
   
   padding:3em 2em;
   margin:4rem 4em ;
   flex:1;


   
}

.card{
    @include card;
    background-color: #ffff;
}

.card-body{
    flex:1 1 auto;
    min-height:0;
}