@import './components.scss';
$theme:#b593aa;


.invalid_link{
display:flex;
justify-content:center;
align-items:center;
text-align: center;
color:red;

}

.invalid_link>.card-element{
  margin-top:15em;
}



.html{
background-color:$theme;
}

.sidebar{
  @include card;
  height:100vh;
  margin:'0';
  width:25%;
  position:relative;
 
}
.mobilediv{
  display:none;
}


.sidebardiv{
  margin:0 ;
  display:flex;
  flex-direction:column;
  // justify-content:flex-start;
  align-items:center;  
  text-align: center;

 
}

.sidebardiv > p,h3,h2{
  color:#6e6b7b;

}

.sidebardiv > p { 
   margin:0;
   padding:0;
}

.amount-text {
margin-top: 3rem;
color:#6e6b7b;
 margin-bottom: 0;
}

.amount{
  margin-top:0.3em ;
  color:#5e5873;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3rem;
  padding:0;
}

.container{
  display:flex;   
  margin:0;
  
    
}
.svgDiv{
  border: 0;
  margin-bottom: 2rem;
  border-top: 1px solid #ebe9f1;
  width: 100%;
  
}



* {
  box-sizing: border-box;
}




input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

html {
  background-color: #f6f6f6;
  font-size: 16px;
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
   height: 100%; 
}

body {
  /* height: 100%; */
  margin: 0;
}

//  #root {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }   

.card{
  background-color:#fff;
  border:none;
  border: radius 4px;
  
}



.AppWrapper {
  width: 500px;
  height: 400px;
  position: relative;
}
/* .sidebar{
 height:100vh;
 position: fixed;
 width: 360px;
} */

@keyframes fade {
  from {
    opacity: 0;
    transform: scale3D(0.95, 0.95, 0.95);
  }
  to {
    opacity: 1;
    transform: scale3D(1, 1, 1);
  }
}

.Form {
  animation: fade 200ms ease-out;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0 1rem;
  border-style: none;
  background-color: transparent;
  will-change: opacity, transform;
 
  border-radius: 4px;
 
}

 .Form >.FormGroup:last-child{
  padding:0;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-bottom: 1px solid #6e6b7b;
}

.FormRow:first-child {
  border-top: none;
}

.FormRowLabel {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes void-animation-out {
  0%,
  to {
    opacity: 1;
  }
}
.FormRowInput:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  /* Hack to hide the default webkit autofill */
  transition: background-color 100000000s;
  animation: 1ms void-animation-out;
}

.FormRowInput {
  font-size: 16px;
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  animation: 1ms void-animation-out;
}

.FormRowInput::placeholder {
  color: #87bbfd;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.SubmitButton {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
}

.SubmitButton:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.SubmitButton.SubmitButton--error {
  transform: translateY(15px);
}
.SubmitButton.SubmitButton--error:active {
  transform: scale(0.99) translateY(15px);
}

.SubmitButton:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: #7795f8;
  box-shadow: none;
}

.notfound{
  background-image: url('../not-found.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.secure-text{
 font-size:  0.9rem!important;
 font-family: Montserrat,Helvetica,serif,Arial;
 margin:1.5rem !important;

}

.imageDiv{
  object-fit: contain;
  width:100px;
  margin-top: 1rem;
  margin-bottom: 3em;
}


.ErrorMessage {
  color:red;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin-top: 0px;
  width: 100%;
  transform: translateY(-15px);
  opacity: 0;
  animation: fade 150ms ease-out;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  will-change: opacity, transform;
}

.linkstyle{
  font-style: italic;
  text-decoration: underline;
  font-size: 0.8rem !important;

 &:hover{
   cursor: pointer;
 }
}



.ErrorMessage svg {
  margin-right: 10px;
}

.Result {
  margin-top: 50px;
  text-align: center;
  animation: fade 200ms ease-out;
}

.ResultTitle {
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 17px;
  text-align: center;
}

.ResultMessage {
  color: #9cdbff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.6em;
  text-align: center;
}

.ResetButton {
  border: 0;
  cursor: pointer;
  background: transparent;
}



// .card-body {
//     flex: 1 1 auto;
//     min-height: 1px;
// }
// .card-body {
// }
*, :after, :before {
    box-sizing: border-box;
}


[dir] .text-center {
    text-align: center!important;
}

// body {
//     font-family: "Montserrat",Helvetica,Arial,serif;
//     font-size: 1rem;
//     font-weight: 400;
//     // line-height: 1.45;
//     color: #6e6b7b;
// }
:root {
    --blue: #00cfe8;
    --indigo: #6610f2;
    --purple: #7367f0;
    --pink: #e83e8c;
    --red: #ea5455;
    --orange: #ff9f43;
    --yellow: #ffc107;
    --green: #28c76f;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #b8c2cc;
    --gray-dark: #1e1e1e;
    --primary: #7367f0;
    --secondary: #82868b;
    --success: #28c76f;
    --info: #00cfe8;
    --warning: #ff9f43;
    --danger: #ea5455;
    --light: #f6f6f6;
    --dark: #4b4b4b;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Montserrat",Helvetica,Arial,serif;
    --font-family-monospace: "Montserrat",Helvetica,Arial,serif;
}

* {
  box-sizing: border-box;
}
.textfield{
  margin: 1rem 0;
}

.FormStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}


@media screen and (max-width: 990px) {


  .imageDiv{
    margin:0;
  }

  .amount-text{
    margin:0
    
  }
   
  .amount{
    margin:0;
  }


  .sidebar{
    display:none;
    
  }

  .mobilediv{
    display:flex;
    margin:1.2rem 2rem;
    justify-content:space-between;
   align-items: center;
   &.amount-text:nth-child(2){
     margin-top:1rem;
   }    
  
  }

.mobilehide{display:none; }
 

  .container{
    display: block;
  }

  .card-element{
    margin:auto 1rem;
    padding:3rem 1rem;
  }
 
 }
